.navbar {
  background: linear-gradient(
    135deg,
    #3b82f6 0%,
    #3b82f6 75%,
    #a855f7 85%,
    #ec4899 100%
  );
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    1px 1px 0 #000;
}

#root {
  text-align: center;
}
